@model demomvc.Models.Games

@{
    ViewData["Title"] = "Producto";
}
<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <form asp-controller="Games" asp-action="Create">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control form-control-sm" type="text" placeholder="Escribe el nombre del producto"
            aria-label=".form-control-sm" />
        <div class="form-group">
          <label asp-for="Categoria" class="control-label"></label>
            <select name="Categoria" id="" class="form-control">
                <option value="Accion">Accion</option>
                <option value="Aventuras">Aventuras</option>
                <option value="Clasicos">Clasicos</option>
                <option value="pc ">Juegos de pc</option>
            </select>
        </div>
        <label asp-for="Precio" class="control-label"></label>
        <input asp-for="Precio" class="form-control form-control-sm" type="text" placeholder=""
            aria-label=".form-control-sm" />
             <label asp-for="Descuento" class="control-label"></label>
        <input asp-for="Descuento" class="form-control form-control-sm" type="text" placeholder=""
            aria-label=".form-control-sm" />



        <div class="form-group">
            <button type="submit" class="btn btn-primary">Calcular y Guardar</button>
        </div>
    </form>
    <h1>@ViewData["Message"]</h1>
     <div>
        <a asp-action="Index">Regresar a la lista</a>
    </div>

</div>
